<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
	background-image: linear-gradient(#636162, #b1afaf);
	height: 122vh;
	font-weight: bold;
	letter-spacing: 2px;
}

*{
	margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;
}

.main{
	background-color: white;
	height: auto;
	width: 650px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 60%;
  overflow-wrap: break-word;

	
}
.left{
	background-color: #fbb03b;

    width: 200px;
	height: 100%;
	float: left;
}
.right{
	width: 450px;
	float: left;
}
.profile-img{
	height: 180px;
	width: 180px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	border: 10px solid #fbb03b;
	box-shadow: 6px 7px 9px 5px #fbb03b73;
}
.profile-img img{
	width: 100%;
	border-radius: 50%;
}
.box-1{
	position: relative;
}
.heading{
	background-color: #4d4d4d;
	padding: 10px;
	color: #fbb03b;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
}
.heading::after{
	content: '';
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #5a5959;
	left: 191px;
	top: 26px;
	transform:rotate(56deg);
	z-index: -1;
}
.p1{
	padding: 9px 10px;
	font-size: 11px;
}
.icons1{
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}
.skill-container{
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}
.skill{
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}
.html{
	width: 90%;
	background-color: white;
}
.css{
	width: 80%;
	background-color: white;
}
.js{
	width: 85%;
	background-color: white;
}
.jquery{
	width: 80%;
	background-color: white;
}
.web {
	width: 85%;
	background-color: white;
}
.gra{
	width: 70%;
	background-color: white;
}
.icons2{
	padding: 18px 10px;
}
.name-div{
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
}
.name-div h1{
	margin-bottom: 10px;
}
.box-2{
	padding: 0px 50px;
	margin-top: 30px;
}
.p2{
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
}
h2{
	font-size: 16px;
	margin-bottom: 15px;
}
.icons3{
	vertical-align: bottom;
	font-size: 21px!important;
	color: #4d4d4d;
}
.p3{
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}
.p3 span{
	color: #ff9b00; padding-left: 20px;
}

    </style>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="main">
	<div class="left">
		<br>
		 <div class="profile-img">
		
  		<img src="/uploads/{{imagec.name}}" alt="Profile Picture" />
		
		</div>
		{{!-- <div class="profile-img"><img src="/images/{{data.imagec.contentType}}.jpg"></div> --}}

		<div class="box-1">
			<div class="heading">
				<p>CONTACT</p>
			</div>
			<p class="p1"><i class="material-icons icons1">call</i>{{data.phonec}}</p>
			<p class="p1"><i class="material-icons icons1">email</i>{{data.emailc}}</p>
		</div>

		<div class="box-1">
			<div class="heading">
				<p>HOBBIES</p>
			</div>
			 {{#each data.hobby1}}
			<p class="p1">{{this}}
			<div class="skill-container">
				<div class="skill html"></div>
			</div>

			</p>
 {{/each}}
			
		</div>
		<div class="box-1">
			<div class="heading">
				<p>Job location</p>
			</div>
			
			<p class="p1"><i class="material-icons icons1">location_on</i>{{data.locationc}}
				
			
			</p>

			
		</div>
		<div class="box-1">
			<div class="heading">
				<p>College-name</p>
			</div>
			
			<p class="p1"><i class="material-icons icons1">home</i>{{data.collegec}}
				
			</p>
		</div>
	

		<br>

		<div class="box-1">
			<div class="heading">
				<p>SKILLS</p>
			</div>
			{{#each data.skill1}}
			<p class="p1">{{this}}
			<div class="skill-container">
				<div class="skill web"></div>
			</div>
			</p>
			 {{/each}}
		</div>
		<br>
		

	</div>


	<div class="right">
		<div class="name-div">
			<h1>{{ data.namec}}</h1>
			<p>{{data.streamc}}</p>
		</div>

		<div class="box-2">
			<h2>ABOUT YourSelf <i class="material-icons icons3" style="font-size: 28px!important; ">perm_identity</i></h2>
			<p class="p2">
				{{data.about}}
			</p>
		</div>



		<div class="box-2">
			<h2>EDUCATION <i class="material-icons icons3" >border_color</i></h2>
			 {{#each data.education as |education index|}}
			 {{#each education.year1 as |kamm kam|}}
			<p class="p3">{{lookup education.year1 kam}}<span>{{lookup education.school kam}}&ensp; = {{lookup education.class kam}}</span></p>
			<p class="p2">
				{{lookup education.marks kam}}
			</p>
			 {{/each}}
	{{/each}}
		</div>
	


<div class="box-2">
  <h2>PROJECTS<i class="material-icons icons3">folder</i></h2>
  {{#each data.project as |project index|}}
  {{#each project.projecttitle1 as |kamm kam|}}
  <ul>
    <li>
      <p class="p3">{{lookup project.projecttitle1 kam}}</p>
        <p class="p2">{{lookup project.projectdescription1 kam}}</p>	
    </li>
  </ul>
  {{/each}}
{{/each}}
</div>



		<div class="box-2">
			<h2>WORK EXPERIENCE <i class="material-icons icons3" >folder</i></h2>
			{{#each data.experience as |experience index|}}
			{{#each experience.year as |kamm kam|}}
			<p class="p3">{{lookup experience.year kam}}<span>{{lookup experience.company kam}}</span></p>
			<p class="p2">
				{{lookup experience.desc kam}}
			</p>

 		{{/each}}
		{{/each}}
			
		</div>

	</div>
</div>



</body>
</html>